<!DOCTYPE html>
<html lang="en">
<head>
  <title>Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Lora">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>
<body>

<div class="container">
  
  <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
              <a class="navbar-brand" href="#">Movie Ticket Booking SYS</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul>
                    <span class="navbar-text actions"> <a href="/" class="login">Home</a>
                      <a href ="/login">Login</a>
                     </div>
            </div>
        </nav>
    </div><hr>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        
      </div>
      <div class="col-sm-4">
          <h4>User Registration Form</h4>
            <form action="/registrationInfo" method="POST">
              <div class="form-group">
                <label for="usr">First Name:</label>
                <input name="fName" type="text" class="form-control" id="fName" required>
              </div>
			  <div class="form-group">
                <label for="usr">Last Name:</label>
                <input name="lName" type="text" class="form-control" id="lName" required>
              </div>
              <div class="form-group">
                <label for="pwd">Email:</label>
                <input name="email" type="email" class="form-control" id="pwd" required>
              </div>

              <div class="form-group">
                <label for="pwd">Password:</label>
                <input name="password" type="password" class="form-control" id="password" required>
              </div>
               
              <br>
              <input type="submit" name="submit" value="Submit" class="btn btn-success">
            </form>
      </div>
    </div>
    <hr>
 

    
     

    <p>Wrong Email or Password</p>
     
 
     
    <br>
    <br>
    <hr>
</div>

</body>
</html>